# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/.env
backend/static/graficas/*.png

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
